.station {
  height: 65px;
  width: 608px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px;
  margin: 0 auto 8px;
  background: white;
  align-items: center;
}